@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import '../../colors/Colors.scss';

.ai-wrapper {
    width: 500px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: $dark;
    color: $black;
    padding: 20px;
    padding-right: 50px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    animation: slideWrapper 0.3s ease-in-out 0s;

    * {
        box-sizing: border-box;
        font-family: 'Ubuntu', sans-serif;
    }
}

@keyframes slideWrapper {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.ai-hover {
    outline: 3px solid $red;
    box-shadow: 0 0 0 $red;
}
