$tt: all 0.2s ease-in-out;

$blue: #116acc;
$blueLight: #b3cee2;
$blueSecondary: #2f80ed;
$dark: #182233;
$red: #fd4e5d;
$redDark: #ba0000;
$green: #27ae60;
$yellow: #fbc756;
$black: #313131;
$gray: #1f2937;
$lightGray: #d9dde7;
